* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color;
}

#container-circulos {
  display: grid;
  grid: repeat(2, 15rem) / auto-flow 15rem;
}

.circulos {
  width: 13rem;
  height: 13rem;
  background-color: darkcyan;
  border-radius: 100%;
}

.color-rgb {
  text-align: center;
  color: white;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.resultado {
  color: rgb(226, 226, 226);
  font-size: 7rem;
}

#resultDiv {
  text-align: center;
  border: solid 2px;
  border-color: white;
}

.new-result {
  color: rgb(30, 30, 30);
}

.count {
  color: white
}